.home {
  margin: 0.5rem;

  @media (min-width: $media-lg) {
    margin: 2rem;
  }

  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;

    @media (min-width: $media-md) {
      padding: 2rem;
      flex-direction: row;
      justify-content: center;
    }

    &__img {
      margin-top: 1rem;
      width: 14rem;
      border-radius: var(--border-rounded);
      box-shadow: 1px 2px 2px hsla(219, 9%, 30%, 0.2),
        2px 4px 4px hsla(219, 9%, 30%, 0.2), 4px 8px 8px hsla(219, 9%, 30%, 0.2),
        8px 16px 16px hsla(219, 9%, 30%, 0.2),
        16px 32px 32px hsla(219, 9%, 30%, 0.2);
      @media (min-width: $media-md) {
        width: 18rem;
      }
      @media (min-width: $media-lg) {
        width: 22rem;
        margin-left: 5rem;
      }
    }

    & h1 {
      font-family: "Caveat", cursive;
      font-weight: 700;
      font-size: 2.7rem;
      color: var(--color-animated-3);
      @media (min-width: $media-md) {
        font-size: 3rem;
      }
      @media (min-width: $media-lg) {
        font-size: 4.5rem;
        margin-right: 1rem;
        margin-left: 0;
      }
    }
  }

  &__description {
    &__text {
      font-size: 1.2rem;
      color: var(--color-animated-3);
      margin-right: 0.5rem;

      @media (min-width: $media-xs) {
        font-size: 1.4rem;
        margin-right: 1.5rem;
      }
      @media (min-width: $media-lg) {
        font-size: 1.3rem;
        margin-right: 1.8rem;
      }

      & span {
        color: var(--color-animated-2);
        font-weight: 900;
      }
    }
    &__name {
      font-family: "Caveat", cursive;
      font-size: 2.7rem;
      font-weight: 700;
      color: var(--color-animated-3);
      @media (min-width: $media-md) {
        font-size: 3rem;
      }
      @media (min-width: $media-lg) {
        font-size: 4.5rem;
        margin-right: 1rem;
        margin-left: 0;
      }
    }
  }

  &__icon {
    width: 2rem;
    margin-right: 0.8rem;
    transition: all 250ms ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}
