.home__projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: $media-md) {
    text-align: start;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  &__wrapper {
    border-radius: var(--border-rounded);
    margin-bottom: 4rem;
    margin-top: 5rem;
    padding: 0.8rem;

    @media (min-width: $media-sm) {
      margin-top: 10rem;
    }
  }

  &__title {
    max-width: 15rem;
    width: 100%;
    color: var(--color-animated-3);
    text-transform: uppercase;
    margin: 1rem auto;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    position: relative;
    @media (min-width: $media-md) {
      font-size: 2.4rem;
      max-width: 18rem;
      margin-left: 0.3rem;
    }
    &::after {
      content: "";
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: -2px; /* Pomaknite crtu prema dolje */
      left: 0;
      border-top-width: 4px;
      border-top-right-radius: 100%;
      border-top-left-radius: 20%;
      background-color: var(--color-animated-2);
    }
  }

  &__desc {
    color: var(--color-animated-3);
    font-size: 0.9rem;
    margin: 0 auto;
    padding: 0.3rem;
    max-width: 27rem;

    @media (min-width: $media-xs) {
      font-size: 1.1rem;
    }
    @media (min-width: $media-lg) {
      font-size: 1.2rem;
      max-width: 40rem;
    }
  }

  &__img {
    display: block;
    width: 12rem;
    margin: 0 auto;
    @media (min-width: $media-sm) {
      width: 18rem;
    }
  }
}
