.project__box {
  position: relative;
  padding: 0.2rem;
  background-color: var(--color-animated-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 14rem;
  transition: all 250ms ease-in-out;
  border-radius: var(--border-rounded);
  @media (min-width: $media-xs) {
    padding: 0.3rem;
    margin: 0 auto;
    max-width: 19rem;
  }
  @media (min-width: $media-lg) {
    max-width: 21rem;
  }

  &__img {
    width: 100%;
    border: 2px solid var(--color-animated-3);
    border-radius: var(--border-rounded);
  }

  &__layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    border-radius: var(--border-rounded);
  }

  &__layer:hover {
    background: rgba(222, 236, 233, 0.9);
  }
  &__layer a h2 {
    width: 100%;
    font-weight: 700;
    color: var(--color-carmine-3);
    font-size: 1.7rem;
    font-family: "Caveat", cursive;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    @media (min-width: $media-sm) {
      font-size: 2.3rem;
    }
  }

  &__layer:hover a h2 {
    bottom: 50%;
    opacity: 1;
    visibility: visible;
    @media (min-width: $media-sm) {
      bottom: 40%;
    }
  }
  &__layer a p {
    width: 100%;
    font-weight: 500;
    text-align: center;
    color: var(--color-animated-3);
    font-size: 0.8rem;
    font-weight: 700;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    max-width: 12rem;
    @media (min-width: $media-sm) {
      font-size: 1.2rem;
    }
  }

  &__layer:hover a p {
    bottom: 30%;
    visibility: visible;
  }

  &__icon {
    width: 2rem;
    margin: 0.5rem;
  }
}
