.container {
  margin: 2rem auto;
  font-family: "Nunito", sans-serif;

  & h2 {
    font-size: 2rem;
    color: var(--color-animated-3);
    text-align: center;

    @media (min-width: $media-sm) {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
  }

  @media (min-width: $media-sm) {
    padding: 0 1rem;
  }

  &--md {
    max-width: $media-md;
  }
  &--sm {
    max-width: $media-sm;
  }

  &--lg {
    max-width: $media-xl;
  }
  &--xl {
    max-width: 100%;
  }
}
