.language-switcher {
  color: var(--color-animated-1);
  border: 1px solid var(--color-animated-1);
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: var(--border-rounded);
  background-color: transparent;

  &__option {
    background-color: var(--color-animated-1);
    color: var(--color-animated-3);
  }
  &__option:hover {
    background-color: var(--color-animated-2);
    color: var(--color-animated-3);
  }
}
.language {
  display: none;
  @media (min-width: $media-md) {
    display: block;
  }
}
.language.set {
  display: flex;

  @media (min-width: $media-md) {
    display: none;
  }
}
