@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.reveal {
  position: relative;
  display: flex;
  color: var(--color-animated-3);
  font-size: 2em;

  letter-spacing: 3px;
  justify-content: center;
  text-transform: uppercase;
  white-space: pre;
  margin-top: 2.5rem;
  @media (min-width: $media-sm) {
    margin-top: 10rem;
    font-size: 2.5em;
  }

  span {
    opacity: 0;
    transform: scale(0);
    animation: fadeIn 9s infinite;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
