@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.header {
  position: relative;
  background: linear-gradient(
    60deg,
    rgb(203, 218, 219) 4%,
    rgb(98, 228, 196) 30%,
    rgb(13, 70, 113) 95%
  );
  color: rgb(238, 236, 236);

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }

  &__logo {
    width: 1.5rem;
    display: block;
    color: var(--color-animated-3);
    @media (min-width: $media-md) {
      max-width: 2.5rem;
      width: 100%;
    }
  }

  &__name {
    font-family: "Splash", cursive;
    font-size: 1.2rem;
    color: var(--color-animated-3);
    display: block;

    @media (min-width: $media-md) {
      font-size: 2.3rem;
    }
  }
}

.inner-header {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  justify-content: space-between;

  @media (min-width: $media-sm) {
    height: 25vh;
    padding: 1rem;
  }
}

.inner-header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $media-md) {
    flex-direction: row;
  }
}
.inner-header-section.block {
  position: absolute;
  top: 0; /* Prilagodite željeni razmak između navigacije i vrha ekrana */
  right: 0;
  width: 100%;
  background: var(--color-animated-3);
  padding: 1.5rem;
  z-index: 100;
  @media (min-width: $media-sm) {
    padding: 2rem;
  }
}
