.about {
  margin: 3rem auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  transition: all 250ms ease-in-out;
  @media (min-width: $media-sm) {
    justify-content: space-between;
    flex-direction: row;
    margin: 7rem auto;
  }

  &__img {
    display: block;
    width: 10rem;

    @media (min-width: $media-sm) {
      width: 20rem;
      margin-left: 4rem;
    }
  }

  &__title {
    width: 100%;
    color: var(--color-animated-3);
    text-transform: uppercase;
    margin: 1rem auto;
    font-size: 1.5rem;
    max-width: 20rem;
    font-weight: 500;
    margin-bottom: 1rem;
    position: relative;
    @media (min-width: $media-md) {
      font-size: 1.8rem;
      max-width: 23rem;
      margin-left: 0.3rem;
    }
    &::after {
      content: "";
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: -2px; /* Pomaknite crtu prema dolje */
      left: 0;
      border-top-width: 4px;
      border-top-right-radius: 100%;
      border-top-left-radius: 20%;
      background-color: var(--color-animated-2);
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: start;
    opacity: 0;

    transform: translateY(100%);
    transition: opacity 1s ease, transform 1s ease;

    & h3 {
      font-size: 0.9rem;
      font-weight: 300;
      color: var(--color-animated-3);
      margin-left: 0.5rem;

      font-family: "Poppins", sans-serif;
      @media (min-width: $media-sm) {
        font-size: 1.1rem;
      }
    }

    & img {
      width: 1.5rem;
    }
  }
}
