.europe {
  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    @media (min-width: $media-sm) {
      flex-direction: row;
    }
  }

  &__input {
    padding: 0.7rem 1.8rem;
    border: 1px solid var(--color-animated-1);
    font-size: 1rem;
    border-radius: var(--border-rounded);
    margin-bottom: 0.5rem;
    box-shadow: var(--light-box-shadow);

    @media (min-width: 576px) {
      font-size: 1.2rem;
      padding: 0.4rem;
      padding-left: 2.5rem;
      margin-right: 1rem;
      margin-bottom: 0;
      width: 100%;
    }
  }

  &__map {
    width: 4rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    margin-left: 1rem;

    @media (min-width: $media-sm) {
      width: 10rem;
      margin-top: 2rem;
      margin-bottom: -2rem;
    }
  }
  &__table {
    border-collapse: collapse;
    width: 100%;
    max-width: 20rem;
    @media (min-width: 576px) {
      max-width: 90rem;
    }

    &__wrapper {
      overflow-x: auto;
    }

    & thead {
      background-color: var(--color-animated-1);
    }

    th,
    td {
      text-align: center;
      padding: 1rem 1rem;
      border-bottom: 1px solid var(--color-animated-1);
      color: var(--color-animated-3);
      @media (min-width: 576px) {
        padding: 0.2rem;
      }
    }

    tr:nth-child(even) {
      background-color: var(--color-table-1);
    }

    tr:hover {
      background-color: var(--color-table-2);
    }

    th {
      background-color: var(--color-card-2);
      color: var(--color-animated-3);
    }

    a {
      color: var(--color-carmine-2);
    }
  }

  &__img {
    width: 1rem;

    @media (min-width: 576px) {
      width: 1.5rem;
    }

    @media (min-width: 768px) {
      width: 2rem;
    }
  }
}
