.todo {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;

  @media (min-width: $media-sm) {
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    position: relative;
    border-radius: var(--border-rounded);
    border: 5px solid var(--color-animated-3);
    min-width: 20rem;
    width: 90%;
    margin: auto;
    padding: 0.5rem;
    box-shadow: var(--custom-box-shadow);
    justify-content: flex-end;
    background-color: var(--color-card-2);

    @media (min-width: $media-sm) {
      padding: 2rem;
      width: 60%;
    }
  }

  &__title {
    color: var(--color-animated-3);
    font-weight: 700;
    text-align: center;
    font-size: 2rem;

    @media (min-width: $media-sm) {
      font-size: 2.2rem;
    }
  }

  &__input {
    padding: 0.6rem 1.8rem;
    border: 1px solid var(--color-animated-1);
    font-size: 1rem;
    border-radius: var(--border-rounded);
    max-width: 100%;
    margin-bottom: 1rem;
    flex: 1;
    box-shadow: var(--light-box-shadow);

    @media (min-width: $media-sm) {
      font-size: 1.2rem;
      padding: 0.4rem;
      padding-left: 2.5rem;
      max-width: 60%;
    }
  }

  &__img {
    display: block;
    width: 7rem;
    border-radius: 2rem;
    margin: 0 auto;
  }
}

.todo__list {
  display: flex;
  flex-direction: column;
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem auto;
    border: 3px solid var(--color-card-2);
    background-color: var(--color-white-300);
    padding: 0 0.3rem;
    width: 100%;
    transition: all 250ms ease;
    border-radius: var(--border-rounded);

    &:last-child {
      margin-bottom: 3rem;
    }
  }

  &__label {
    font-family: "Caveat", cursive;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 250ms ease;
    color: var(--color-animated-3);

    @media (min-width: $media-sm) {
      font-size: 1.7rem;
    }
  }

  & svg {
    margin: 0.2rem auto;
    cursor: pointer;
    transition: all 250ms ease;
    &:hover {
      transform: scale(1.3);
    }
  }
}

.check-icon {
  margin-right: 0.5rem;

  &.completed {
    fill: var(--color-green-100);
    background-color: var(--color-green-hover);
    opacity: 0.5;
  }
  &:hover {
    fill: var(--color-green-100);
  }
}
