.work {
  display: flex;
  flex-direction: column;
  background-color: var(--color-card-1);
  border-radius: var(--border-rounded);
  color: var(--color-white-400);
  margin: 0.5rem;
  padding: 0.6rem;
  transition: all 250ms ease-in-out;
  max-width: 30rem;
  box-shadow: var(--custom-box-shadow);
  font-family: "Nunito", sans-serif;

  @media (min-width: $media-sm) {
    margin: 1rem;
    padding: 1.5rem;
  }

  &:hover {
    background-color: var(--color-card-2);
    box-shadow: var(--hover-box-shadow);
  }
  &__wrapper {
    display: grid;
    grid-gap: 2rem;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: $media-lg) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__img {
    width: 100%;
    border-radius: var(--border-rounded);
  }

  &__section {
    flex: 1;
    background-color: var(--color-white-400);
    margin: 1rem 0;
    padding: 0 0.5rem;
    border-radius: var(--border-rounded);
  }

  &__desc {
    font-size: 0.8rem;
    text-align: center;
    color: var(--color-carmine-1);
    @media (min-width: $media-xs) {
      font-size: 0.9rem;
    }
    @media (min-width: $media-md) {
      font-size: 1rem;
    }
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-animated-3);
    @media (min-width: $media-sm) {
      font-size: 1.8rem;
    }
  }

  &__icon {
    width: 2rem;
    margin: 0.5rem;
  }

  &__project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 4rem);
    margin-bottom: 2rem;
    margin: 2rem auto;
    padding: 2rem;
  }

  &__github {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--color-animated-3);
    font-weight: 700;
    transition: all 250ms ease-in-out;
    margin-left: 1rem;
    &:hover {
      color: var(--color-white-400);
    }
    & svg {
      fill: var(--color-animated-3);
    }
    @media (min-width: $media-sm) {
      font-size: 1.1rem;
    }
  }
}

.work__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__project {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--color-animated-3);
    font-weight: 700;
    transition: all 250ms ease-in-out;

    &:hover {
      color: var(--color-white-400);
    }

    & img {
      width: 1.8rem;
      display: inline-block;
      margin-right: 0.5rem;
    }
    @media (min-width: $media-sm) {
      font-size: 1.1rem;
    }
  }
}
