@keyframes slide-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact {
  display: flex;
  padding: 0.2rem;
  align-items: center;
  justify-content: space-between;
  @media (min-width: $media-lg) {
    padding: 1.5rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    text-align: center;
    @media (min-width: $media-sm) {
      margin: 0 2rem;
    }
    @media (min-width: $media-lg) {
      padding: 2rem;
      margin: 0 8rem;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: var(--color-animated-3);
    font-family: "Caveat", cursive;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 2s ease, transform 2s ease;
  }
  &__desc {
    font-size: 0.9rem;
    color: var(--color-animated-3);

    margin: 1rem auto;
    @media (min-width: $media-sm) {
      font-size: 1.2rem;
      max-width: 32rem;
    }
  }

  &__location,
  &__mail {
    & a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--color-carmine-1);
      text-decoration: none;
      transition: all 250ms ease;

      &:hover {
        color: var(--color-carmine-2);
        transform: scale(1.1);
      }
    }
  }

  &__location {
    & a {
      font-size: 0.8rem;
      @media (min-width: $media-sm) {
        font-size: 1.1rem;
      }
    }
    & img {
      width: 4rem;
      @media (min-width: $media-lg) {
        width: 8.5rem;
      }
    }
  }

  &__mail {
    & a {
      font-size: 0.8rem;
      @media (min-width: $media-sm) {
        font-size: 1.1rem;
      }
    }
    & img {
      width: 3.3rem;
      @media (min-width: $media-lg) {
        width: 7rem;
      }
    }
  }
}

.visible {
  animation: slide-in 2s forwards ease;
  opacity: 1;
  transform: translateY(0);

  @media (min-width: $media-sm) {
    font-size: 4.5rem;
  }
}
