@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.header {
  position: relative;
  background: linear-gradient(
    60deg,
    rgb(203, 218, 219) 4%,
    rgb(98, 228, 196) 30%,
    rgb(13, 70, 113) 95%
  );
  color: rgb(238, 236, 236);

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }

  &__logo {
    width: 2rem;
    display: block;

    @media (min-width: $media-sm) {
      max-width: 2.5rem;
      width: 100%;
    }
  }

  &__name {
    font-family: "Splash", cursive;
    font-size: 1.5rem;
    color: black;
    display: block;

    @media (min-width: $media-sm) {
      font-size: 2.3rem;
    }
  }
}

.inner-header {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0.5rem;

  @media (min-width: $media-sm) {
    height: 25vh;
    padding: 1rem;
  }
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 30vh;
  text-align: center;
  background-color: rgb(204, 200, 200);
}

.nav {
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $media-sm) {
    flex-direction: row;
    margin-right: 2rem;
  }
}
.header__nav__link {
  font-family: "Lato", sans-serif;
  margin-right: 1rem;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: all 250ms ease-in-out;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: $media-md) {
    font-size: 1.2rem;
    margin-right: 1.4rem;
  }
  @media (min-width: $media-lg) {
    font-size: 1.3rem;
    margin-right: 1.7rem;
  }

  &:hover {
    color: rgb(105, 239, 188);
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(229, 234, 235);
    transition: all 250ms ease-in-out;
  }
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
